
.viewer{
    width: 80%;
    height:70%;
    background: #2f353b;
    position: absolute;
    left: 10%;
    top: 15%;
}
.viewer img, .viewer video{
    width: 50%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.explore-zone{
    text-align: center;
    vertical-align: middle;
    color:orange;
}

.collection{
    display: flex;
    width: 96%;
    height: 12%;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    left: 2%;
}
.item{
    height: 95%;
    width: 120px;
    min-width: 120px;
    border: 1px solid moccasin;
    background-color:  #2f353b;
    position: absolute;
}
.item img{
    width: 90%;
    left: 5%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.item[type="video"] img{
    width: 50%;
}
.item:hover{
    opacity: 0.5;
    transition: all .2s ease-in-out;
}
.arrow{
    background-color: rgba(255,153,0, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% auto;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    display:none;
}
.arrow-left{
    width: 50px;
    height: 100%;
    background-image: url('../images/arrow-left.png');
    position: absolute;
    top: 0px;
    left: 0px;
}
.small-arrow-left{
    background-image: url('../images/arrow-left-circle.png');
    left: 0px;
}
.small-arrow-right{
    background-image: url('../images/arrow-right-circle.png');
    right: 0px;
}
.small-arrow{
    top: 0px;
    width:30px;
    height:100%;
    position: absolute;
    z-index: 10000;
    background-color: rgba(255,153,0,1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% auto;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    display:none;
}
.selection{
    border-top:3px solid rgba(255,153,0,1);
}
.arrow-right{
    width: 50px;
    height: 100%;
    background-image: url('../images/arrow-right.png');
    position: absolute;
    top: 0px;
    right: 0px;
}