
html,body, #slider{
    width:100%;
    height: 100%;
}
#viewer{
    width: 80%;
    height:70%;
    background: #2f353b;
    /*margin: 100px auto;*/
    position: absolute;
    left: 10%;
    top: 15%;
}
#viewer img, #viewer video{
    width: 50%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#collection{
    display: flex;
    width: 100%;
    height: 12%;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    /*left: 5%;*/
}
.item{
    height: 95%;
    width: 120px;
    min-width: 120px;
    border: 1px solid moccasin;
    background:  #2f353b url('https://t3.ftcdn.net/jpg/00/98/94/82/240_F_98948223_9qlkz5FypudEEBDE6yfje7R2tRA8AjlA.jpg') 50% 50% no-repeat;
    background-size: 90% auto;
    position: absolute;
}
.item:hover{
    opacity: 0.5;
    transition: all .2s ease-in-out;
}
.arrow{
    background-color: rgba(255,153,0, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% auto;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    display:none;
}
.arrow_left{
    width: 50px;
    height: 100%;
    background-image: url('../images/arrow_left.png');
    position: absolute;
    top: 0px;
    left: 0px;
}
.small_arrow_left{
    background-image: url('../images/arrow_left_circle.png');
    left: 0px;
}
.small_arrow_right{
    background-image: url('../images/arrow_right_circle.png');
    right: 0px;
}
.small_arrow{
    top: 0px;
    width:30px;
    height:100%;
    position: absolute;
    z-index: 10000;
    background-color: rgba(255,153,0,1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% auto;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    display:none;
}
.selection{
    border-top:3px solid rgba(255,153,0,1);
}
.arrow_right{
    width: 50px;
    height: 100%;
    background-image: url('../images/arrow_right.png');
    position: absolute;
    top: 0px;
    right: 0px;
}